body {
  margin: 0;
  /*background-color: #EAF6F6;*/
  text-align: center;
  /*font-family: "Comic Sans MS", sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

h1 {
  /*font-size: 5.625rem; !*100% = 16px = 1em *!*/
  font-size: 400%;
  margin: 80px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

.subtitle {
  font-weight: normal;
}

.image-mountain {
  width: 50%;
}

.image-avatar {
  border-radius: 100%;
  width: 25%;
}

.image-function {
  float: left;
  border-radius: 100%;
  width: 20%;
  margin-right: 30px;
}

.image-harmonica {
  float: right;
  border-radius: 100%;
  width: 20%;
  margin-left: 30px;
}

p {
    line-height: 2;
}

.top-container {
  /*height: 200px;*/
  /*width: 200px;*/
  margin-top: 0px;
  /*padding-top: 200px;*/
  /*border: 10px solid black;*/
  padding: 20px;
  background-color: #EAF6F6;
}

.skill-row {
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%;
}
.math-description {
  /*clear: left;*/
}

.middle-container {
  /*padding: 50px;*/
  margin: 100px 0;
}

.profile-description {
  color: #40514E;
  margin: 0 auto 50px auto;
  width: 50%;
  font-weight: bold;
}

.separation-dots {
  color: #EAF6F6;
  position: relative;
  border-top: 10px dotted;
  border-bottom: none;
    border-left: none;
    border-right: none;
  /*border-radius: 2px;*/
  width: 10%;
  margin: 10px auto 10px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;

}

.top-cloud {
  position: absolute;
  left: 22%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  right: 22%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

a {
    color: #11999E;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:#EAF6F6 ;
}

.copy-right {
    color:#EAF6F6 ;
    font-size: 0.75rem;
    padding: 20px 0;
}


.myButton {
	box-shadow:inset 0px -3px 7px 0px #66BFBF;
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#66BFBF;
	border-radius:28px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #66BFBF;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
